body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Admin area content section */

.admin-area-content-section {
  padding: 10px 15px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

/* Admin area top header */

.admin-area-top-header {
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 40px;
}
